{% load static %}

<!doctype html>
<html lang="en">

	<head>

		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html template, real estate websites, real estate html template, property websites, premium html templates, real estate company website, bootstrap real estate template, real estate marketplace html template, listing website template, property listing html template, real estate bootstrap template, real estate html5 template, real estate listing template, property template, property dealer website"/>

		<!-- Favicon -->
		<link rel="icon" href="{% static 'micon.ico' %}" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>Modhumoti Bank</title>

		<!-- Bootstrap Css -->
		<link href="{% static 'plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" />

		<!-- Sidemenu Css -->
		<link href="{% static 'plugins/toggle-sidebar/sidemenu.css' %}" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'css/admin-custom.css' %}" rel="stylesheet" />

		<!-- c3.js Charts Plugin -->
		<link href="{% static 'plugins/charts-c3/c3-chart.css' %}" rel="stylesheet" />

		<!-- select2 Plugin -->
		<link href="{% static 'plugins/select2/select2.min.css' %}" rel="stylesheet" />

		<!-- Time picker Plugin -->
		<link href="{% static 'plugins/time-picker/jquery.timepicker.css' %}" rel="stylesheet" />

		<!-- Date Picker Plugin -->
		<link href="{% static 'plugins/date-picker/spectrum.css' %}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="{% static 'plugins/scroll-bar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

		<!-- file Uploads -->
    <link href="{% static 'plugins/fileuploads/css/dropify.css' %}" rel="stylesheet" type="text/css" />

		<!---Font icons-->
		<link href="{% static 'css/icons.css' %}" rel="stylesheet"/>
		<link rel="stylesheet" href="{% static 'fonts/fonts/font-awesome.min.css' %}">

	</head>

	<body class="app sidebar-mini" style="background-color: #fff;">

		<!--Loader-->
		<div id="global-loader">
			<img src="{% static 'images/loader.svg' %}" class="loader-img" alt="">
		</div>
		<!--/Loader-->

		<!--Page-->
		<div class="page">
			<div class="page-main">
				<!--App-Content-->
				<div class="app-content  my-3 my-md-5">
					<div class="side-app">
						<div class="app-sidebar__overlay" data-toggle="sidebar"></div>


							<aside class="app-sidebar doc-sidebar">
                  <div class="app-sidebar__user clearfix">
                      <div>
                          <div>
                              <img src="{% static 'images/faces/male/logo.jpg' %}">
                          </div>
                      </div>
                  </div>
              </aside>

						<!--Page-Header-->
						<div class="page-header" style="background-color: #007942;">
							<h1 style="color:white"><p>Modhumoti Bank Limited<p></h1>
						</div>
							<button type="submit" style="background-color: #ff9999;" class="btn btn-primary "><a href="Fixed_Deposit">Fixed_deposit Form</a></button>
							<button type="submit" style="background-color: #ff9999;"  class="btn btn-primary "><a href="Individual">Individual Form</a></button>
							<button type="submit" style="background-color: #ff9999;"  class="btn btn-primary "><a href="non-individual">Non-Individual Form</a></button>
							<button type="submit" style="background-color: #ff9999;"  class="btn btn-primary "><a href="Govt_Acc">Government Account Form</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Back to top -->

		<!-- JQuery js-->
		<script src="{% static 'js/vendors/jquery-3.2.1.min.js' %}"></script>

		<!-- Bootstrap js -->
		<script src="{% static 'plugins/bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
		<script src="{% static 'plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

		<!--JQuery Sparkline Js-->
		<script src="{% static 'js/vendors/jquery.sparkline.min.js' %}"></script>

		<!-- Circle Progress Js-->
		<script src="{% static 'js/vendors/circle-progress.min.js' %}"></script>

		<!-- Star Rating Js-->
		<script src="{% static 'plugins/rating/jquery.rating-stars.js' %}"></script>

		<!-- Fullside-menu Js-->
		<script src="{% static 'plugins/toggle-sidebar/sidemenu.js' %}"></script>

		<!--Select2 js -->
		<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>

		<!-- Timepicker js -->
		<script src="{% static 'plugins/time-picker/jquery.timepicker.js' %}"></script>
		<script src="{% static 'plugins/time-picker/toggles.min.js' %}"></script>

		<!-- Datepicker js -->
		<script src="{% static 'plugins/date-picker/spectrum.js' %}"></script>
		<script src="{% static 'plugins/date-picker/jquery-ui.js' %}"></script>
		<script src="{% static 'plugins/input-mask/jquery.maskedinput.js' %}"></script>

		<!-- Inline js -->
		<script src="{% static 'js/select2.js' %}"></script>
		<script src="{% static 'js/formelements.js' %}"></script>

		<!-- file uploads js -->
        <script src="{% static 'plugins/fileuploads/js/dropify.js' %}"></script>

		<!--InputMask Js-->
		<script src="{% static 'plugins/jquery-inputmask/jquery.inputmask.bundle.min.js' %}"></script>

		<!-- Custom scroll bar Js-->
		<script src="{% static 'plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

		<!--Counters -->
		<script src="{% static 'plugins/counters/counterup.min.js' %}"></script>
		<script src="{% static 'plugins/counters/waypoints.min.js' %}"></script>

		<!-- Custom Js-->
		<script src="{% static 'js/admin-custom.js' %}"></script>

	</body>
</html>
